@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 1304px;
    height: 120px;
    margin:0 auto;
    margin-bottom: 60px;
    border-top: 2px solid black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;

}
.navbar__item{
    font-size: 25px ;
    font-weight: 500;
    line-height: 60px;
}

/* container */
.container{
    width: 1304px;
    max-width: 100%;
    margin: 0 auto;

}
.container h1{
    width: 1000px;
    font-size: 65px;
    margin: 0 auto;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding: 20px;
}
.container span img{
    margin: 70px 0;
}

/* container-item */
.container-item {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 150px;
}
.container-item img{
    margin: 70px 0;
}
/* item-feature */
.item-feature{
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 350;
}
.item-feature a{
    color: black;
}

/* item-layout */
.item__layout-title{
    margin-top: -24px;
}
.item__layout-title p{
    font-size: 20px;
    font-weight: 350;
    line-height: 1.6em;
}


/* container gallery */
.container-gallery {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}
.item-gallery{
    margin-bottom: 30px;
}
.item-gallery p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight:500;
}
